.container {
  padding-top: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.content {
  width: 90%;
  display: flex;
  align-items: flex-start;
}

.titleContent {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.pageTitle {
  font-size: 32px;
  color: rgb(29, 165, 132);
  margin-bottom: 2px;
  font-weight: 700;
}

.pageSubTitle {
  font-size: 22px;
  color: rgb(29, 165, 132);
  margin-top: 3px;
  margin-bottom: 0px;
  font-weight: 600;
}

.pageTitleDate {
  font-size: 16px;
  color: rgb(100, 100, 100);
  margin-top: 0px;

  font-weight: 600;
}
