.container {
  padding-top: 40px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.content {
  width: 90%;
  display: flex;
  align-items: flex-start;
}

.titleContent {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.pageTitle {
  font-size: 32px;
  color: rgb(29, 165, 132);
  margin-bottom: 2px;
  font-weight: 700;
}

.pageSubTitle {
  font-size: 22px;
  color: rgb(29, 165, 132);
  margin-top: 3px;
  margin-bottom: 0px;
  font-weight: 600;
}

.pageTitleDate {
  font-size: 16px;
  color: rgb(100, 100, 100);
  margin-top: 0px;

  font-weight: 600;
}

.cardsBody {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.underbody {
  display: flex;
  flex-direction: column;

  width: 90%;
  margin-top: 30px;

  align-items: flex-start;
}

.underbodySelect {
  width: 200px;
}

.bodyHome {
  flex-direction: column;
  display: flex;
  justify-content: center;
  height: 100%;
  align-items: flex-start;
  margin-left: 25px;
}

.cardsContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 90%;
  margin-top: 30px;

  align-items: center;
}

@media (max-width: 700px) {
  .pageTitle {
    font-size: 26px;
  }
}

@media (max-width: 500px) {
  .pageTitle {
    font-size: 22px;
  }
}
