.cardP {
  background-color: rgb(29, 165, 132);
}

.cardP:hover {
  background-color: rgb(28, 156, 124);
}

.infoCard {
  display: flex;
  flex-direction: column;
}

.bodyContent {
  display: flex;
  flex-direction: row;
  margin-left: 25px;
  margin-top: 25px;
  align-items: center;
}

.bodyInfo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
